<html>
  <head></head>
  <body>
    <h1>Welcome To WebGuesser</h1>

    <p>
      The secret number is <%= secret_number %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess A Number!' />
    </form>
    <p>
      You guessed <%= guess %>. <br>
      That answer is <%= message %>
    </p>
  </body>
</html>
